.notification{
  display: flex;
  align-items: center;
  /* border:  5px 0 10px rgba(0, 0, 0, 0.811); */
  padding: 10px 20px;
  border: 1px solid rgb(235,235,235);
}

.notification-content{
  flex-grow: 1;
  margin-left: 20px;

}

.notification-content a {
  text-decoration: none;
  color:rgb(0, 204, 255)
}

.notification-actions {
  opacity: 0;
  transition: 300ms;
}

.notification-actions a {
text-decoration: none;
}

.notification:hover .notification-actions{
  opacity: 1;
}
